@font-face {
    font-family: "SourceSansPro";
    src: url('fonts/SourceSansPro-Regular.otf') format('otf'),
         url('fonts/SourceSansPro-Bold.otf') format('otf'),
         url('fonts/SourceSansPro-Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SourceSansPro', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 32rem;
    padding-top: 3rem;
}

nav img {
    width: 167px;
    height: 30px;
}

nav ul {
  display: flex;
  gap: 52px;
  list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.section1 {
  background-image: url(images/Object.png);
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.learn-pros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 87px;
    margin-top: 168px;
}

.learn-pros h2 {
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
}

.learn-pros h2 span {
    color: #c271ff;
    font-weight: bold;
    font-size: 32px;
}

.pros {
    display: flex;
    gap: 139px;
    margin-left: 217px;
    margin-right: 217px;
}

.pros img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.pro p {
    font-style: italic;
    color: #fff;
    font-size: 16px;
}

.pros h3 {
    color: #fff;
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero h1 {
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    margin-top: 155px;
}

.smile {
    display: flex;
    gap: 57px;
}

.smile span {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.hero button {
    height: 44px;
    background: #c271ff;
    outline: none;
    border: none;
    border-radius: 22px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    padding: 12px 24px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
    cursor: pointer;
    margin-top: 18px;
}

.section2 {
    height: 392px;
    background: #c271ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
}

.tutorial .text {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.tutorial .text blockquote {
    font-size: 22px;
}

.tutorial .text h3 {
    margin-top: 22px;
    font-size: 22px;
    font-weight: bold;
}

.tutorial .text p {
    font-style: italic;
    font-size: 22px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 87px;
}
.section3 h2{
    font-size: 32px;
    color: #071629;
    margin-top: 87px;
    margin-bottom: 75px;
}
.section3 span{
    color: #c271ff;
}

.tutorial-box{
    display: flex;
    gap: 30px;
    margin-left: 164px;
    margin-right: 164px;
}
.section3 h4{
    font-size: 14px;
    font-weight: 600px;
}
.Phillip{
    height: 30px;
    width: 30px;
}
.rating{
    display: flex;
    flex-direction: row;
    gap: 79px;
}
.rating p{
    color: #c271ff;
}
.membership{
    background-color: #071629;
    height: 502px;
    margin-bottom: 67px;
}

.membership h2{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    color: #fff;
    font-size: 32px;
    font-weight: 100px;
    
}
.membership span{
    color: #c271ff;
    font-weight: bold;
}
.free{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 27px;
    margin-right: 164px;
    margin-left: 164px;
    color: white;
    font-weight: 14px;
    padding-top: 58px;
    text-align: center;
    
}
.free h3{
    padding-top: 26px;
    padding-bottom: 13px;
}
.membership button{
    background-color: #c271ff;
    width: 162px;
    height: 44px;
    color: white;
    border-radius: 30px;
    margin-top: 85px;

}
.register{
    display:flex;
    justify-content: center;
    margin-bottom: 52px;
}

.FAQ h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: normal;

}
.FAQs{
    display: flex;
    flex-direction: row;
    gap: 220px;
    margin-left: 249px;
    margin-right: 271px;
}
.FAQs h3{
    padding: 50px;
}
.footer{
    background-color: #071629;
    height: 249px;
    color: white;
    margin-top: 84px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 736px;
    justify-content: center;
    padding-top: 95px;
}
.socials{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.footer p{
    display: flex;
    justify-content: center;
     padding-top: 75px;
}